
/* This is applyed everywhere in the HTML code */
* {
    margin: 0px;
    padding: 0px;
}

/* This is the CSS code for the background */
.background {
    position:fixed;
    right:0;
    top:0;
    min-width:100%;
    min-height:100%;
    height:100%;
    z-index:-100;
}

/* This is the navigation bar for the web site */
.topnav {
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: rgb(241, 241, 241);
    z-index: 100;
}

/* This is the text for the navigation bar */
.topnav a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana;
    transition: all 0.5s 0s ease;
}

/* This is used if the mouse cursor is on the text of the navigation bar */
@media (hover:hover) {
    .topnav a:hover {
        color: rgb(100, 100, 100);
        font-size: 19px;
    }
}

/* This is the first type of spacing */
.br-type-1 {
    padding: 20vh;
}

/* This is the second type of spacing */
.br-type-2 {
    padding: 40vh;
}

/* This is the third type of spacing */
.br-type-3 {
    padding: 1vh;
}

/* This is the fourth type of spacing */
.br-type-4 {
    padding: 5vh;
}

/* This is the first type of text, I use this as titles */
.text-type-1 {
    color: black;
    text-align: center;
    font-family: Verdana;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}

/* This is the second type of text, I use this as a normal text */
.text-type-2 {
    color: black;
    text-align: center;
    font-family: Verdana;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-weight: 400;
    line-height: 50px;
}

/* This is the card title */
.text-type-3 {
    font-family: Verdana;
    color: #000;
    text-align: center;
    padding-top: 36px;
    font-weight: 400;
    line-height: 50px;
    font-size: 23px;
}

/* This is the footer text */
.text-type-4 {
    font-family: Verdana;
    padding: 10px;
    float: left;
}

/* The grid contains the cards */
.grid {
    margin: 0px 10px 15vh 10px;
    text-align: center;
}

/* The cards contains an image and a title */
.card {
    border-radius: 10px;
    padding: 0 2vw 1vw 2vw;
    margin: 0 2vw 1vw 2vw;
    display: inline-block;
    transition: all 0.5s 0s ease;
}

/* This is the first button type */
.button-type-1 {
    margin-right: 10px;
    border: 0px;
    transition: all 0.5s 0s ease;
    text-decoration: none;
    position: fixed;
    bottom: 5px;
    right: 15px;
}

/* This is used if the mouse cursor is on the button */
@media (hover:hover) {
    .button-type-1:hover {
        margin-right: 7px;
        border: 0px;
        transition: all 0.5s 0s ease;
    }
}

/* This is the first img type */
.img-type-1 {
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(160, 160, 160);
  transition: all 0.5s 0s ease;
}

/* This is used if thr mouse pointer is on the img */
@media (hover:hover) {
    .img-type-1:hover {
        height: 35px;
        border-radius: 5px;
        border: 2px solid rgb(100, 100, 100);
    }
}

/* This is the second img type, it is used as card img */
.img-type-2 {
    height: 225px;
    width: 225px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5vh;
    border: 7.5px solid rgb(200, 200, 200);
    transition: all 0.5s 0s ease; 
}

/* This is used when the mouse cursor is on the image */
@media (hover:hover) {
    .img-type-2:hover {
        margin-top: 2.3vh;
        height: 250px;
        width: 250px;
        text-align: center;
        overflow: hidden;
        border-radius: 50%;
        border: 7.5px solid rgb(99, 99, 99);
    }
}

/* This is used for a Fade-in effect */
.fade-in {
    transform: translateY(50px);
    filter: opacity(0);
}
 
/* I don't know what this is used for but I now that I need it so that this shit works */
@keyframes fadeIn {  
    0% {
        transform: translateY(50px);
        filter: opacity(0);
    }
    100% {
        transform: translateY(0);
        filter: opacity(1);
    }
}
